.post {
//  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Lora', serif;
  font-size: 1.2em;

  .date {
    background-color: #32382C;
  }
  h3 {
    font-weight: 800;
    font-size: 2em;
  }
}