.side-menu {
  position: fixed;
  left: 0;
  width: 250px;
  top: 0;
  bottom: 0;
  //    background-color: #2C2918;
  background-color: #3E3F41;
  color: #F7F7F7;
  //  color: #FF9900;
  padding-top: 20px;
  text-align: center;

  .avatar-image {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background: url('/assets/images/avatar.png') no-repeat #fff;
    background-size: 100% auto;
  }
}