extends layout

block content
    .header.card
        img(src="http://lorempixel.com/638/300")
        h2 Featured posts
        .divider
        h2 Latest posts

    each post, index in posts
        .card
            if post.image
                img(src=post.image)
            .top
                .title
                    h2= post.title
                .tags
                    i.fa.fa-bolt
                .date= post.date
            p= post.description
            .bottom
                a.btn(href='post/' + post.permalink) READ MORE

    .info
        p Wow, you've reached this far, congratulations!
        p But still, bad news. There are no posts left.
        p &nbsp;
        p Maybe you would like to contact me and suggest one?
        .btn
            i.fa.fa-envelope.fa-5x

    //.jumbotron
    //    h1 Navbar example
    //    p
    //        | This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
    //    p To see the difference between static and fixed top navbars, just scroll.
    //    p
    //        a.btn.btn-lg.btn-primary(href='http://getbootstrap.com/components/#navbar') View navbar docs »