extends layout

block content
    .header.card
        h2 Featured posts
        .divider
        h2 Latest posts

    .card
        .top
            .title
                h2 Some example article
            .tags
                i.fa.fa-bolt
            .date Posted on 13 Oct 2014
        //img(src='http://lorempixel.com/640/300/abstract')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna velit, volutpat a ullamcorper non, mattis ut libero. Maecenas id dolor leo. Nulla at arcu sed ipsum volutpat pharetra in in velit. Vestibulum a volutpat ante. Curabitur posuere felis et diam dictum congue. Maecenas aliquam, lacus fringilla scelerisque mollis, purus odio ultricies tortor, sit amet dignissim mi tellus eleifend urna. Sed vehicula tempor nisi sed vulputate.
        //.divider
        .bottom
            .btn READ MORE

    .card
        img(src='http://lorempixel.com/640/300/abstract')
        .top
            .title
                h2 Another example article
            .tags
                i.fa.fa-line-chart
            .date Posted on 8 Oct 2014
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna velit, volutpat a ullamcorper non, mattis ut libero. Maecenas id dolor leo. Nulla at arcu sed ipsum volutpat pharetra in in velit. Vestibulum a volutpat ante. Curabitur posuere felis et diam dictum congue. Maecenas aliquam, lacus fringilla scelerisque mollis, purus odio ultricies tortor, sit amet dignissim mi tellus eleifend urna. Sed vehicula tempor nisi sed vulputate.
        .bottom
            .btn READ MORE

    .card
        .top
            .title
                h2 Breaking news!
            .tags
                i.fa.fa-newspaper-o
            .date Posted on 2 Oct 2014
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna velit, volutpat a ullamcorper non, mattis ut libero. Maecenas id dolor leo. Nulla at arcu sed ipsum volutpat pharetra in in velit. Vestibulum a volutpat ante. Curabitur posuere felis et diam dictum congue. Maecenas aliquam, lacus fringilla scelerisque mollis, purus odio ultricies tortor, sit amet dignissim mi tellus eleifend urna. Sed vehicula tempor nisi sed vulputate.
        //.divider
        .bottom
            .btn READ MORE

    .card
        img(src='http://lorempixel.com/640/299/abstract')
        .top
            .title
                h2 Just a casual story
            .tags
                i.fa.fa-pie-chart
                i.fa.fa-anchor
            .date Posted on 29 Sep 2014
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna velit, volutpat a ullamcorper non, mattis ut libero. Maecenas id dolor leo. Nulla at arcu sed ipsum volutpat pharetra in in velit. Vestibulum a volutpat ante. Curabitur posuere felis et diam dictum congue. Maecenas aliquam, lacus fringilla scelerisque mollis, purus odio ultricies tortor, sit amet dignissim mi tellus eleifend urna. Sed vehicula tempor nisi sed vulputate.
        .bottom
            .btn READ MORE

    .card
        img(src='http://lorempixel.com/640/301/abstract')
        .top
            .title
                h2 Nothing really important
            .date Posted on 23 Sep 2014
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna velit, volutpat a ullamcorper non, mattis ut libero. Maecenas id dolor leo. Nulla at arcu sed ipsum volutpat pharetra in in velit. Vestibulum a volutpat ante. Curabitur posuere felis et diam dictum congue. Maecenas aliquam, lacus fringilla scelerisque mollis, purus odio ultricies tortor, sit amet dignissim mi tellus eleifend urna. Sed vehicula tempor nisi sed vulputate.
        .bottom
            .btn READ MORE




    //.jumbotron
    //    h1 Navbar example
    //    p
    //        | This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
    //    p To see the difference between static and fixed top navbars, just scroll.
    //    p
    //        a.btn.btn-lg.btn-primary(href='http://getbootstrap.com/components/#navbar') View navbar docs »