doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='author', content='Oskar Dylewski')
        title= title
        block css
            link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
            link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
            link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')

            //-<!-- build:css public/css/styles.min.css -->
            link(rel='stylesheet', href='/css/app.css')
            link(rel='stylesheet', href='/css/post.css')
            link(rel='stylesheet', href='/css/fonts.css')
            //-<!-- endbuild -->
        block js
            //-<!-- build:js public/js/scripts.min.js -->
            //-<!-- endbuild -->
            script(src='http://localhost:35729/livereload.js')
            //script(src="components/platform/platform.js")
            script(src="/libs/toccajs/Tocca.min.js")

        //block elements
        //    link(rel="import", href="components/paper-button/paper-button.html")
        //    link(rel="import", href="path/to/core-icons/core-icons.html")
    body
        .top-bg-bar

        .navbar.top-bar
            .container
                .row
                    .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
                        a.logo.pull-left(href='/')
                            strong OD&nbsp;
                            | odylewski.com
                        .tools.pull-right
                            a(href='contact')
                                i.fa.fa-envelope


        .container
            .row
                .content.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
                    block content

        .bottom-bg-bar
            span Made with&nbsp;
            i.fa.fa-heart
            span &nbsp;by Oskar Dylewski 2014

        //.go-up#go-up-btn

        //-<!-- build:js public/js/scripts.min.js -->
        //bower:
        script(src='../../public/components/jquery/dist/jquery.js')
        script(src='../../public/components/bootstrap/dist/js/bootstrap.js')
        script(src='../../public/components/lodash/dist/lodash.compat.js')
        script(src='../../public/components/jquery.scrollTo/jquery.scrollTo.js')
        script(src='../../public/components/movejs/index.js')
        //endbower
        script(src='/js/average-color.js')
        script(src='/js/app.js')

        //-<!-- endbuild -->